<div class="delete">
  <form action="/users/<%= user.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE" class="field-light">
    <input type="submit" value="Delete profile" class="button-big button-blue-outline mb1">
  </form>
</div>
