<div id="form_signup">
  <form action="/users" method="POST">
    <table>
      <tr>
        <td>Username:</td>
        <td><input type="text" name="user[username]" value="<%= username %>" class="field-light"></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input type="password" name="user[password]" value="" class="field-light"></td>
      </tr>
      <tr>
        <td>Password confirm:</td>
        <td><input type="password" name="user[password_confirmation]" value="" class="field-light"></td>
      </tr>
      <tr>
        <td>First Name:</td>
        <td><input type="text" name="user[first_name]" value="" class="field-light"></td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td><input type="text" name="user[last_name]" value="" class="field-light"></td>
      </tr>
      <tr>
        <td>Country:</td>
        <td><input type="text" name="user[country]" value="" class="field-light"></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><input type="text" name="user[email]" value="" class="field-light"></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" value="Sign up" class="button-big button-blue-outline mb1"></td>
      </tr>
    </table>
  </form>

</div>


