<div id="form_signin">
  <form action="/signin" method="POST">
    <table>
      <tr>
        <td>Username:</td>
        <td><input type="text" name="user[username]" value="<%= login_username %>"></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input type="password" name="user[password]" value=""></td>
      </tr>

      <tr>
        <td colspan="2"><input type="submit" value="Sign in"></td>
      </tr>
    </table>
  </form>

</div>


