<div class="comment">
  <a href="/users/<%= entry.user.id %>"><%= entry.user.username %></a>: <%= entry.comment %>
  <div class="options">
    <%= erb :'entry/_options', locals: { entry: entry } %>
  </div>
</div>
