
  <form action="/prayerrequests/<%= entry.id %>/comments" method="POST" class="clearfix">
    <textarea  style="height:40px; width: 400px" type="text" name="comment" placeholder="Show your support!" class="col col-4 md-col-5 mb0 field-light not-rounded x-group-item"></textarea>
    <input type="submit" value="Submit" style="height:40px;" class="col col-4 md-col-2 button-blue-outline rounded-right">
  </form>
