
  <form action="/prayerrequests/<%= entry.id %>/comments" method="POST">
    <textarea  style="width:400px" type="text" name="comment" placeholder="Show your support!"></textarea>
    <input type="submit" value="Submit" style="height:24px;">
  </form>
