<div class="prayerrequest_box">
  <form method="post" action="/prayerrequests">
    <textarea  style="width:500px; height: 50px;" type="text" name="prayerrequest" placeholder="How can the world pray for you?"></textarea>
    <input type="submit" value="Submit" style="height:56px">
  </form>
</div>
