<div class="prayerrequest_box">
  <form method="post" action="/prayerrequests" class="clearfix">
    <textarea  style="width:500px; height: 50px;" type="text" name="prayerrequest" placeholder="How can the world pray for you?"class="col col-4 md-col-5 mb0 field-light not-rounded x-group-item"></textarea>
    <input type="submit" value="Submit" style="height:50px" class="col col-4 md-col-2 button-blue-outline rounded-right">
  </form>
</div>
